.form {
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  height: 24px;
  padding: 0 0 0 10px;
  font-size: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: rgb(232, 240, 254);
}

.input__block {
  font-size: 14px;
  vertical-align: top;
  color: #000000e0;
}

.input__block label {
  display: block;
}

.input__border {
  display: inline-flex;
  width: 350px;
  padding: 4px 11px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 2px;
  transition: all 0.2s;
}

.input__border:hover {
  border-color: #ababab;
}
.input__border:focus-within {
  border-color: #ababab;
}

.form button {
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #5070b1;
  cursor: pointer;
  box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.3s ease;
}
.form button:hover {
  background-color: #738ebd;
}

.form button:active {
  background-color: #5070b1;
  box-shadow: none;
}
