.nav__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 230px;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 84px);
  min-width: 220px;
  background-color: #fff;
  overflow: hidden;
  padding: 20px 0;
  border-right: 1px solid #5070b1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 0;
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
  outline: none;
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.nav__li {
  height: 50px;
  color: #5070b1;
}
.nav__li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.nav__li:first-child {
  padding: 5px 5px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
  font-weight: 600;
  color: #fff;
  background: #5070b1;
  margin-bottom: 16px;
}

.link {
  height: 100%;
  padding: 5px 5px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none; 
  color: inherit; 
  cursor: pointer;
}
