.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #5070b1;
  padding: 24px 40px;
}
.header div {
  display: flex;
}

.header__img {
  height: 35px;
  margin-right: 20px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-left: 5px;
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
  
  box-shadow: none;
  border: 1px solid transparent;
}

.header__btn_exit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 14px;
  padding: 4px 15px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.88);
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.3s ease;
}
.header__btn_exit svg {
  color: rgba(0, 0, 0, 0.25);
}
.header button:active {
  box-shadow: none;
}
.header__btn_exit:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
