.login__page {
  display: flex;
  background-color: #e5e5e5;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login__page img {
  max-width: 250px;
  margin-bottom: 50px;
  height: auto;
}

.wrapper {
  padding: 24px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
}


